<div class="authform">
  <fieldset>
  <h3 align=center>ShovelMeOut</h3>
  <img src="vin.jpg" style="align:float">
  <br /> 
  <div align="center">
    <a href="users/sign_in"><input type="button" class ='button' value="Log In!"/></a>
    <a href="users/sign_up"><input type="button" class ='button' value="Sign Up"/></a>
</div>
</fieldset>
</div>

