<div class="authform">
  <fieldset>
  <h1 align=center>Terms and Conditions</h1>
  <p align=right; style="width:200px;" >By using this application, you agree to share your location and email with other users. You may enter your phone number for faster response times if you wish, and remember that this information can be seen by other registered users.</p> 
  </fieldset>
</div>
